.flex-conteiner{
    box-sizing: border-box;
    padding: 10px;
    background-color: blue;
    color: aqua;
    /*altura do conteiner*/
    min-height: 97vh;
    /*ativar o FlexBox*/
    display: flex;
    /*com wrap os conteiner são quebrados nas linhas */
    flex-wrap: wrap;
    /*responsavel pelo espaçamento que vai ter entre as colunas/linhas*/
    gap: 40px;
    /*realiza uma troca, colocando o primeiro conteneir em último e o último por primeiro*/
    flex-direction: row-reverse; 
    /*alinhar os conteiner na horizontal, neste caso no centro*/
    justify-content: center;
}

.flex-item{
   background-color: violet;
   /*tamanho dos elementos*/
   flex-basis: 100px;
   text-align: center;
}

/*criar mais de uma  */
.item2{
    flex-basis: 200px;
}
